<!-- Header -->
<header class="app-header">
    <div class="container-fluid">
        <div class="row align-items-center py-3">
            <div class="col-6 col-md-3">
                <div class="logo">
                    <i class="bi bi-shop-window"></i>
                    <span class="ms-2 d-none d-md-inline">E-commerce</span>
                </div>
            </div>
            <div class="col-6 col-md-9 text-end">
                <div id="headerUserInfo"></div>
            </div>
        </div>
    </div>
</header>
